.header {
  position: relative;
  background-color: var(--bg-white);
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet) {
    padding: 12px 0;
    height: 60px;
  }
}

.header__left {
  display: none;

  @media (max-width: 1023px) {
    display: block;
  }
}

.header__logo {
  width: 130px;
  object-fit: contain;
}

.header__nav {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: 1199px) {
    gap: 0.1vw;
  }
  
  @media (max-width: 1023px) {
    display: none;
  }
}

.header__menu-item {
  &--active {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 10px;
      right: 10px;
      height: 2px;
      background-color: var(--color-additional, #0fad48);
      border-radius: 1px;
   }
  }

  & a {
    color: var(--text-dark);
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    font-family: 'HelveticaNeue', sans-serif;
    white-space: nowrap;
    display: block;
    padding: 10px;
  
    &:hover {
      color: var(--color-additional);
    }
  
    @media (max-width: $tablet) {
      font-size: 12px;
    }
  }
}

.header__nav-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--text-dark);
  padding: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
  &:hover {
    color: #0fad48;
  }
}

.button-burger {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--text-dark);
  padding: 8px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  
  &:hover {
    color: #0fad48;
  }

  @media (max-width: 1023px) {
    display: block;
    right: 0;
  }
}
