@use 'sass:meta';

// USER VARIABLES SECTION

:root {
	--color-accent: #EBCB9C;
	--bg-dark-terracotta: #573931;
	--bg-dark: #36322d;
	--bg-middle: #D0CCC1;
	--bg-white: #FFFFFF;

	--text-white: #FFFFFF;
	--text-main: #f7f4ee;
	--text-light: #828181;
	--text-dark: #35322D;
	--text-grey: #707070;
	--text-black: #000000;
}

$fontsize: 16px; // Body Font Size
$lineheight: 1.1; // Document Line Height
$userfont: Montserrat, sans-serif; // User Font Family
$secondaryfont: roboto, sans-serif; // User Font Family


// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

	// Breakpoint
// $grid-breakpoint-l: 1366px;
$grid-breakpoint-l: 1670px;
//$grid-breakpoint-m: 1200px;
$grid-breakpoint-s: 767px;

$desktop-large: 1920px; // Для больших десктопных экранов
$desktop: 1440px; // Стандартный десктоп
$tablet-large: 1280px; // Большой планшет
$tablet: 1024px; // Существующий планшет, часто используемый
$tablet-small: 768px; // Маленький планшет
$mobile-large: 600px; // Большой мобильный`
$mobile: 480px; // Существующий мобильный, широко распространённый
$mobile-small: 320px; // Очень маленький мобильный экран

	// Margin
$grid-margin-l: 80px;
$grid-margin-m: 24px;
$grid-margin-s: 16px;


@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff2');
	}
}

//HelveticaNeue
@include font('HelveticaNeue', normal, 700, '../fonts/HelveticaNeue-Bold.woff2');
@include font('HelveticaNeue', normal, 300, '../fonts/HelveticaNeue-Light.woff2');
@include font('HelveticaNeue', normal, 500, '../fonts/HelveticaNeue-Medium.woff2');

// Montserrat
@include font('Montserrat', normal, 700, '../fonts/Montserrat-Bold.woff2');
@include font('Montserrat', normal, 800, '../fonts/Montserrat-ExtraBold.woff2');
@include font('Montserrat', normal, 600, '../fonts/Montserrat-SemiBold.woff2');
@include font('Montserrat', normal, 300, '../fonts/Montserrat-Light.woff2');
@include font('Montserrat', normal, 400, '../fonts/Montserrat-Regular.ttf');

// PlayfairDisplay
@include font('PlayfairDisplay', normal, 400, '../fonts/PlayfairDisplay-Italic.ttf');
@include font('PlayfairDisplay', normal, 700, '../fonts/PlayfairDisplay-Italic-Bold.ttf');

body {
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	min-width: 360px;
	position: relative;
	overflow-x: hidden;
	background-color: var(--bg-white);
	color: var(--text-main);
}

body.no-scroll {
	overflow: hidden;
}

a {
	color: var(--text-black);

	&:hover {
		color: var(--text-black);
	}
}


// OPTIONAL SETTINGS

::placeholder {
	// color: #666;
}

::selection {
	// background-color: var(--color-accent);
	// color: #fff;
}

input,
textarea {
	// outline: none;
	// &:focus:required:invalid {
	//   border-color: red;
	// }
	// &:required:valid {
	//   border-color: green;
	// }
}

[class*="--m-container"] {
	width: 100%;
	max-width: $grid-breakpoint-l;
	margin-left: auto;
	margin-right: auto;
	padding-left: $grid-margin-l;
	padding-right: $grid-margin-l;

	@media screen and (max-width: $tablet) {
		padding-left: $grid-margin-m;
		padding-right: $grid-margin-m;
	}

	@media screen and (max-width: $mobile) {
		padding-left: $grid-margin-s;
		padding-right: $grid-margin-s;
	}
}



