.about-values {
  padding: 60px 0 40px;

  @media (max-width: $tablet) {
    padding: 40px 0 20px 0;
  }

  @media (max-width: $mobile) {
    padding: 40px 0;
    border-bottom: 1px solid #282828;
  }


  &__wrapper {
    display: flex;
    gap: 24px;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 0 16px 24px;
    border-left: 1px solid #282828;

    @media (max-width: $tablet) {
      padding: 0 0 16px 16px;
    }

    @media (max-width: $mobile) {
      gap: 4px;
      border-left: none;
      padding: 0;
    }
  }

  &__name {
    font-size: 36px;
    font-weight: bold;
    line-height: 43.2px;
    text-align: left;
    white-space: nowrap;

    @media (max-width: $tablet) {
      font-size: 26px;
      line-height: 33.8px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    text-align: left;

    @media (max-width: $tablet) {
      font-size: 15px;
      line-height: 22.5px;
    }
  }
}
