.about-hero {
  height: 308px;

  @media (max-width: $tablet) {
    height: 184px;
  }

  @media (max-width: $mobile) {
    height: 140px;
  }

  &__bg {
    height: 100%;
    background-image: url("../images/dist/about-hero.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $mobile) {
      background-position: 74%;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    color: var(--text-white);

    @media (max-width: $tablet) {
      font-size: 52px;
      line-height: 52px;
    }

    @media (max-width: $mobile) {
      font-size: 30px;
      line-height: 33px;
    }
  }
}
